@import 'fonts';

$js-yellow: #f7df1e;
$js-gray: #2e2e2e;
$background-color: #222;
$logo-size: 200px;

@import 'glitch';
@import 'flicker';

.slides {
    .lambda {
        font-family: 'halflife';
        text-transform: none;
    }

    .js-yellow {
        color: $js-yellow;
    }

    .flicker {
        @include flicker;
    }

    .glitch {
        @include glitch;
    }

    .js-logo {
        width: $logo-size;
        height: $logo-size;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -0.5 * $logo-size;

        &.faux-logo {
            > div {
                position: absolute;
                bottom: 1px;
                right: 1px;
                width: 0.75 * $logo-size;
                height: 0.60 * $logo-size;
                background-color: $js-yellow;
                color: $js-gray;
                font-size: 0.60 * $logo-size;
                font-weight: 800;
                line-height: 1em;
                box-sizing: border-box;
                padding-left: 0.15 * $logo-size;
            }
        }
    }

    #fn-js {
        .fragment {
            transition: none;
        }
    }

    pre > code {
        &[data-large] {
            max-height: initial;
        }

        &[data-wrap] {
            white-space: pre-wrap;
        }

        &.hljs.bash {
            background-color: #0f0f0f;
        }

        & .fragment.highlight-current {
            opacity: 1;
            visibility: visible;

            &.current-fragment {
                background-color: #6c6c6c;
            }
        }

        & .fragment.always-visible {
            opacity: 1;
            visibility: visible;

            &.first {
                > .second {
                    .first, .second {
                        transition: all .2s ease;
                    }
                }

                &.visible {
                    > .second:not(.visible) {
                        .second {
                            opacity: 0;
                            visibility: hidden;
                        }
                    }

                    > .second.visible {
                        .first {
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }

    .formula {
        display: block;
        background-color: white;

        &.center {
            margin: 0 auto;
        }
    }
}

.sources {
    $source-padding: 30px;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 24px;

    .source {
        display: none;
        position: absolute;
        bottom: $source-padding;
        left: $source-padding;

        &.active {
            display: block;
        }

        a {
            color: black;

            &:link, &:visited, &:hover, &:active {
                color: inherit;
            }
        }

        &.light {
            a {
                color: white;
            }
        }
    }
}

.blank {
    $blank-padding: 30px;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 24px;

    .text {
        display: none;
        padding-top: $blank-padding;
        text-align: center;
        color: #555;

        &.active {
            display: block;
        }
    }
}
