@import 'fonts';

$js-yellow: #f7df1e;
$js-gray: #2e2e2e;
$background-color: #222;
$logo-size: 200px;

.slides {
    .lambda {
        font-family: 'halflife';
        text-transform: none;
    }

    .js-yellow {
        color: $js-yellow;
    }

    .js-logo {
        width: $logo-size;
        height: $logo-size;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -0.5 * $logo-size;

        &.faux-logo {
            > div {
                position: absolute;
                bottom: 1px;
                right: 1px;
                width: 0.75 * $logo-size;
                height: 0.60 * $logo-size;
                background-color: $js-yellow;
                color: $js-gray;
                font-size: 0.60 * $logo-size;
                font-weight: 800;
                line-height: 1em;
                box-sizing: border-box;
                padding-left: 0.15 * $logo-size;
            }
        }
    }

    .flicker {
        animation: flicker-anim 7s infinite linear alternate-reverse;
        opacity: 0;

        @at-root {
            @keyframes flicker-anim {
                5% { opacity: 0; }
                5.001% { opacity: 1; }
                9.999% { opacity: 1; }
                10% { opacity: 0; }
                25% { opacity: 0; }
                25.001% { opacity: 1; }
                34.999% { opacity: 1; }
                35% { opacity: 0; }
                56% { opacity: 0; }
                56.001% { opacity: 1; }
                59.999% { opacity: 1; }
                60% { opacity: 0; }
                70% { opacity: 0; }
                70.001% { opacity: 1; }
                74.999% { opacity: 1; }
                75% { opacity: 0; }
                80% { opacity: 0; }
                80.001% { opacity: 1; }
                94.999% { opacity: 1; }
                95% { opacity: 0; }
            }
        }
    }

    .glitch {
        position: relative;

        &::before, &::after {
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $js-yellow;
        }

        &::before {
            left: 2px;
            text-shadow: 2px 0 red;
            animation: glitch-anim-1 2s infinite linear alternate-reverse;
        }

        &::after {
            left: -2px;
            text-shadow: -2px 0 blue;
            animation: glitch-anim-2 2s infinite linear alternate-reverse;
        }

        $steps: 10;
        $height: $logo-size;
        $width: $logo-size;

        @at-root {
            @for $i from 1 through 2 {
                @keyframes glitch-anim-#{$i} {
                    @for $i from 0 through $steps {
                        #{percentage($i*(1/$steps))} {
                            clip: rect(
                                random($height)+px,
                                $width,
                                random($height)+px,
                                0
                            );
                        }
                    }
                }
            }
        }
    }
}
