@font-face {
  font-family: 'halflife';
  src: url("../assets/fonts/halflife-webfont.woff2") format("woff2"), url("../assets/fonts/halflife-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.slides .lambda {
  font-family: 'halflife';
  text-transform: none; }

.slides .js-yellow {
  color: #f7df1e; }

.slides .flicker {
  animation: flicker-anim 7s infinite linear alternate-reverse;
  opacity: 0; }

@keyframes flicker-anim {
  5% {
    opacity: 0; }
  5.001% {
    opacity: 1; }
  9.999% {
    opacity: 1; }
  10% {
    opacity: 0; }
  25% {
    opacity: 0; }
  25.001% {
    opacity: 1; }
  34.999% {
    opacity: 1; }
  35% {
    opacity: 0; }
  56% {
    opacity: 0; }
  56.001% {
    opacity: 1; }
  59.999% {
    opacity: 1; }
  60% {
    opacity: 0; }
  70% {
    opacity: 0; }
  70.001% {
    opacity: 1; }
  74.999% {
    opacity: 1; }
  75% {
    opacity: 0; }
  80% {
    opacity: 0; }
  80.001% {
    opacity: 1; }
  94.999% {
    opacity: 1; }
  95% {
    opacity: 0; } }

.slides .glitch {
  position: relative; }
  .slides .glitch::before, .slides .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7df1e; }
  .slides .glitch::before {
    left: 2px;
    text-shadow: 2px 0 red;
    animation: glitch-anim-1 2s infinite linear alternate-reverse; }
  .slides .glitch::after {
    left: -2px;
    text-shadow: -2px 0 blue;
    animation: glitch-anim-2 2s infinite linear alternate-reverse; }

@keyframes glitch-anim-1 {
  0% {
    clip: rect(52px, 200px, 146px, 0); }
  10% {
    clip: rect(21px, 200px, 84px, 0); }
  20% {
    clip: rect(39px, 200px, 136px, 0); }
  30% {
    clip: rect(57px, 200px, 165px, 0); }
  40% {
    clip: rect(21px, 200px, 142px, 0); }
  50% {
    clip: rect(17px, 200px, 127px, 0); }
  60% {
    clip: rect(172px, 200px, 192px, 0); }
  70% {
    clip: rect(118px, 200px, 131px, 0); }
  80% {
    clip: rect(194px, 200px, 55px, 0); }
  90% {
    clip: rect(71px, 200px, 57px, 0); }
  100% {
    clip: rect(178px, 200px, 144px, 0); } }

@keyframes glitch-anim-2 {
  0% {
    clip: rect(118px, 200px, 127px, 0); }
  10% {
    clip: rect(197px, 200px, 63px, 0); }
  20% {
    clip: rect(144px, 200px, 99px, 0); }
  30% {
    clip: rect(10px, 200px, 144px, 0); }
  40% {
    clip: rect(70px, 200px, 167px, 0); }
  50% {
    clip: rect(107px, 200px, 91px, 0); }
  60% {
    clip: rect(74px, 200px, 16px, 0); }
  70% {
    clip: rect(57px, 200px, 65px, 0); }
  80% {
    clip: rect(178px, 200px, 85px, 0); }
  90% {
    clip: rect(76px, 200px, 24px, 0); }
  100% {
    clip: rect(3px, 200px, 21px, 0); } }

.slides .js-logo {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -100px; }
  .slides .js-logo.faux-logo > div {
    position: absolute;
    bottom: 1px;
    right: 1px;
    width: 150px;
    height: 120px;
    background-color: #f7df1e;
    color: #2e2e2e;
    font-size: 120px;
    font-weight: 800;
    line-height: 1em;
    box-sizing: border-box;
    padding-left: 30px; }

.slides #fn-js .fragment {
  transition: none; }

.slides pre > code[data-large] {
  max-height: initial; }

.slides pre > code[data-wrap] {
  white-space: pre-wrap; }
