@font-face {
  font-family: 'halflife';
  src: url("../assets/fonts/halflife-webfont.woff2") format("woff2"), url("../assets/fonts/halflife-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.slides .lambda {
  font-family: 'halflife';
  text-transform: none; }

.slides .js-yellow {
  color: #f7df1e; }

.slides .flicker {
  animation: flicker-anim 7s infinite linear alternate-reverse;
  opacity: 0; }

@keyframes flicker-anim {
  5% {
    opacity: 0; }
  5.001% {
    opacity: 1; }
  9.999% {
    opacity: 1; }
  10% {
    opacity: 0; }
  25% {
    opacity: 0; }
  25.001% {
    opacity: 1; }
  34.999% {
    opacity: 1; }
  35% {
    opacity: 0; }
  56% {
    opacity: 0; }
  56.001% {
    opacity: 1; }
  59.999% {
    opacity: 1; }
  60% {
    opacity: 0; }
  70% {
    opacity: 0; }
  70.001% {
    opacity: 1; }
  74.999% {
    opacity: 1; }
  75% {
    opacity: 0; }
  80% {
    opacity: 0; }
  80.001% {
    opacity: 1; }
  94.999% {
    opacity: 1; }
  95% {
    opacity: 0; } }

.slides .glitch {
  position: relative; }
  .slides .glitch::before, .slides .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7df1e; }
  .slides .glitch::before {
    left: 2px;
    text-shadow: 2px 0 red;
    animation: glitch-anim-1 2s infinite linear alternate-reverse; }
  .slides .glitch::after {
    left: -2px;
    text-shadow: -2px 0 blue;
    animation: glitch-anim-2 2s infinite linear alternate-reverse; }

@keyframes glitch-anim-1 {
  0% {
    clip: rect(133px, 200px, 33px, 0); }
  10% {
    clip: rect(200px, 200px, 156px, 0); }
  20% {
    clip: rect(41px, 200px, 57px, 0); }
  30% {
    clip: rect(121px, 200px, 142px, 0); }
  40% {
    clip: rect(36px, 200px, 132px, 0); }
  50% {
    clip: rect(118px, 200px, 185px, 0); }
  60% {
    clip: rect(120px, 200px, 107px, 0); }
  70% {
    clip: rect(33px, 200px, 18px, 0); }
  80% {
    clip: rect(197px, 200px, 61px, 0); }
  90% {
    clip: rect(44px, 200px, 95px, 0); }
  100% {
    clip: rect(161px, 200px, 11px, 0); } }

@keyframes glitch-anim-2 {
  0% {
    clip: rect(151px, 200px, 99px, 0); }
  10% {
    clip: rect(188px, 200px, 106px, 0); }
  20% {
    clip: rect(127px, 200px, 147px, 0); }
  30% {
    clip: rect(54px, 200px, 36px, 0); }
  40% {
    clip: rect(84px, 200px, 177px, 0); }
  50% {
    clip: rect(159px, 200px, 14px, 0); }
  60% {
    clip: rect(170px, 200px, 55px, 0); }
  70% {
    clip: rect(148px, 200px, 136px, 0); }
  80% {
    clip: rect(86px, 200px, 186px, 0); }
  90% {
    clip: rect(178px, 200px, 150px, 0); }
  100% {
    clip: rect(116px, 200px, 104px, 0); } }

.slides .js-logo {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -100px; }
  .slides .js-logo.faux-logo > div {
    position: absolute;
    bottom: 1px;
    right: 1px;
    width: 150px;
    height: 120px;
    background-color: #f7df1e;
    color: #2e2e2e;
    font-size: 120px;
    font-weight: 800;
    line-height: 1em;
    box-sizing: border-box;
    padding-left: 30px; }

.slides #fn-js .fragment {
  transition: none; }

.slides pre > code[data-large] {
  max-height: initial; }

.slides pre > code[data-wrap] {
  white-space: pre-wrap; }

.slides pre > code.hljs.bash {
  background-color: #0f0f0f; }

.slides pre > code .fragment.highlight-current {
  opacity: 1;
  visibility: visible; }
  .slides pre > code .fragment.highlight-current.current-fragment {
    color: #17ff2e !important; }
    .slides pre > code .fragment.highlight-current.current-fragment span {
      color: #17ff2e !important; }

.slides .formula {
  display: block;
  background-color: white; }
  .slides .formula.center {
    margin: 0 auto; }

.sources {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 24px; }
  .sources .source {
    display: none;
    position: absolute;
    bottom: 30px;
    left: 30px; }
    .sources .source.active {
      display: block; }
    .sources .source a {
      color: black; }
      .sources .source a:link, .sources .source a:visited, .sources .source a:hover, .sources .source a:active {
        color: inherit; }
    .sources .source.light a {
      color: white; }

.blank {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 24px; }
  .blank .text {
    display: none;
    padding-top: 30px;
    text-align: center;
    color: #555; }
    .blank .text.active {
      display: block; }
